<HTML>
	
	<head>
		<link rel="stylesheet" href="bootstrap/css/bootstrap.css" >
		<link rel="stylesheet" href="css/piu.css" >
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js" > </script>
		<script src="scripts/sorter.js" > </script>
	</head>
	
	<body ng-app = "piuSorter">
		<div class="container" ng-controller = "songListCont as listCtr">
			<h1>PIU Songfinder</h1>
			<div class="row">
				<div class="col-md-2">
					<select class="form-control" ng-model="search.version.strict">
						<option value="" selected>Choose Version</option>
						<option value="FiestaEx">FiestaEx</option>
						<option value="Fiesta">Fiesta</option>
						<option value="NXA">NXA</option>
						<option value="NX/NX2">NX/NX2</option>
						<option value="EXCEED/ZERO">EXCEED/ZERO</option>
						<option value="REBIRTH/PREX">REBIRTH/PREX</option>
						<option value="S.E/EXTRA">S.E/EXTRA</option>
						<option value="REBIRTH/PREX">REBIRTH/PREX</option>
						<option value="1ST/3RD">1ST/3RD</option>
						<option value="UNKNOWN">UNKNOWN</option>
					</select>
				</div>
				<div class="col-md-2"><input class="form-control" placeholder="BPM" ng-model="search.bpm"></div>
				<div class="col-md-2"><input class="form-control" placeholder="Difficulty" ng-model="search.difficulties"></div>
			</div>
			<div class="row" ng-repeat = "song in listCtr.songs | filter:search:strict">
				<div class="col-md-2">{{song.version}}</div>
				<div class="col-md-1">{{song.type}}</div>
				<div class="col-md-1">{{song.bpm}}</div>
				<div class="col-md-2">{{song.artist}}</div>
				<div class="col-md-2">{{song.title}}</div>
				<div class="col-md-4">{{song.difficulties}}</div>
			</div>
		</div>
	</body>
</HTML>